<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>Development</h2>
						<ul class="page-title-link">
							<li><a routerLink="home">Home</a></li>
							<li><a routerLink="features">Development Services</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


  <div class="parallax section noover" data-stellar-background-ratio="0.7" style="background-image:url('assets/uploads/parallax_05.png');">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="customwidget text-left">
                    <h1>Beautiful Websites</h1>
                    <p>Providing you the best, responsive and faster loading website ,<br>e-commerce websites and much more.</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-check"></i> Custom Sections</li>
                        <li><i class="fa fa-check"></i> Parallax's</li>
                        <li><i class="fa fa-check"></i> Icons & PSD</li>
                        <li><i class="fa fa-check"></i> Limitless Colors</li>
                    </ul><!-- end list -->
                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd">Learn More</a>
                </div>
            </div><!-- end col -->
    <div class="col-md-6">
                <div class="text-center image-center hidden-sm hidden-xs">
                    <img src="../../../assets/images/development/browser-shot.png" alt="" class="img-responsive wow fadeInUp">
                    <!-- <img src="assets/uploads/device_03.png" alt="" class="img-responsive wow fadeInUp"> -->
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
    <div id="features" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Features & Overviews</h3>
                <p class="lead">We can help you to create your own mobile application for your business.               </p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="features-left">
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                            <i class="flaticon-wordpress-logo"></i>
                            <div class="fl-inner">
                                <h4>Wordpress</h4>
                                <p>Setting up your website on wordpress</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                            <i class="flaticon-windows"></i>
                            <div class="fl-inner">
                                <h4>Browser Compatible</h4>
                                <p>Supoort for different web browsers.</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                            <i class="flaticon-price-tag"></i>
                            <div class="fl-inner">
                                <h4>eCommerce Ready</h4>
                                <p>Creating and setting up your beautiful online store.</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i class="flaticon-new-file"></i>
                            <div class="fl-inner">
                                <h4>user friendly</h4>
                                <p>Easy to navigate, clean and beautiful interface.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <img src="assets/uploads/ipad.png" class="img-center img-responsive" alt="">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="features-right">
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                            <i class="flaticon-pantone"></i>
                            <div class="fr-inner">
                                <h4>Limitless Colors</h4>
                                <p>Wide variety of colour and themes to pick from.</p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                            <i class="flaticon-cloud-computing"></i>
                            <div class="fr-inner">
                                <h4>Lifetime Update</h4>
                                <p>Updates from us about the new changes.</p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                            <i class="flaticon-line-graph"></i>
                            <div class="fr-inner">
                                <h4>SEO Friendly</h4>
                                <p>Stratergies for ranking your product higher.</p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i class="flaticon-coding"></i>
                            <div class="fr-inner">
                                <h4>Simple Clean Code</h4>
                                <p>Well structured code for better understanding.</p>
                            </div>
                        </li>
                    </ul>
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="hr1">

            <div class="row text-center">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="assets/uploads/features_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="assets/uploads/features_01.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Outstanding Landing Pages</h3>
                        <p>With our impressive design and perfect detailing we will create impressived landing pages.
                            Making perfect landing pages for your business for making customers getting engaged in using your product and services.</p>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="assets/uploads/features_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="assets/uploads/features_02.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Beautiful SVG Font Icons</h3>
                        <p>Mesmerising icons that will catch the user interest and helping him understand in detail about your business.</p>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="assets/uploads/features_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="assets/uploads/features_03.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Build a Site In Few Minutes</h3>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis accumsan.</p>
                    </div><!-- end service -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
