<carousel class="home" [showIndicators]="false">
  <slide class="home__slider" *ngFor="let slide of slides; let index = index">
    <div class="carousel-caption home__slider--content">
      <h4 class="home__slider--title">{{ slide.title }}</h4>
      <p class="home__slider--subtitle">{{ slide.subtitle }}</p>
      <div class="slider-content-btn">
        <a class="button btn btn-light btn-radius btn-brd" href="#"
          >{{slide.button}}</a
        >
        <!-- <a class="button btn btn-light btn-radius btn-brd" href="#">Contact</a> -->
      </div>
    </div>
    <img
      class="home__slider--image"
      [src]="slide.image"
      alt="image slide"
      style="display: block; width: 100%;"
    />
  </slide>
</carousel>

<section id="works-area" class="how-we-work">
  <div class="container text-center work">

      <div class="heading">
          <div class="title text-center arrow-left">
              <img class="hidden-xs " src="assets/images/left-arrow.png" alt="" />

              <h4 class="work--title">HOW WE WORKS </h4>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="main-works">
                  <img class="work--image" src="assets/images/map.png" alt="" />
              </div>
          </div>
      </div>
  </div>
</section>



