<carousel class="home" [showIndicators]="false">
  <slide class="home__slider" *ngFor="let slide of slides; let index = index">
    <div class="carousel-caption home__slider--content">
      <h4 class="home__slider--title">{{ slide.title }}</h4>
      <p class="home__slider--subtitle">{{ slide.subtitle }}</p>
      <div class="slider-content-btn">
        <a class="button btn btn-light btn-radius btn-brd" href="#"
          >{{slide.button}}</a
        >
        <!-- <a class="button btn btn-light btn-radius btn-brd" href="#">Contact</a> -->
      </div>
    </div>
    <img
      class="home__slider--image"
      [src]="slide.image"
      alt="image slide"
      style="display: block; width: 100%;"
    />
  </slide>
</carousel>

<div id="about" class="section wb">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="message-box">
          <h4>About Us</h4>
          <h2>Welcome to GoodWEB Solutions</h2>
          <p class="lead">
            Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis
            vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus
            dignissim.
          </p>

          <p>
            Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis
            nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus
            molestie. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat
            sit amet libero bibendum aliquam. Donec ac egestas libero, eu
            bibendum risus. Phasellus et congue justo.
          </p>

          <a href="#services" class="btn btn-light btn-radius btn-brd grd1"
            >Learn More</a
          >
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->

      <div class="col-md-6">
        <div class="post-media wow fadeIn">
          <img
            src="assets/uploads/about_01.jpg"
            alt=""
            class="img-responsive img-rounded"
          />
          <a
            href="http://www.youtube.com/watch?v=nrJtHemSPW4"
            data-rel="prettyPhoto[gal]"
            class="playbutton"
            ><i class="flaticon-play-button"></i
          ></a>
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

    <hr class="hr1" />

    <div class="row">
      <div class="col-md-6">
        <div class="post-media wow fadeIn">
          <img
            src="assets/uploads/about_02.jpg"
            alt=""
            class="img-responsive img-rounded"
          />
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->

      <div class="col-md-6">
        <div class="message-box">
          <h4>Who We are</h4>
          <h2>We Are GoodWEB Solutions</h2>
          <p class="lead">
            Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis
            vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus
            dignissim.
          </p>

          <p>
            Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis
            nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus
            molestie. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat
            sit amet libero bibendum aliquam. Donec ac egestas libero, eu
            bibendum risus. Phasellus et congue justo.
          </p>

          <a href="#services" class="btn btn-light btn-radius btn-brd grd1"
            >Learn More</a
          >
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->

