.home {
  .home__slider {
    .home__slider--image {
      height: 640px;
    }
  }
}

.slider {
  .left.carousel-control.carousel-control-prev {
    display: none;
  }

  .right.carousel-control.carousel-control-next {
    display: none;
  }
}
