/* You can add global styles to this file, and also import other style files */
@import "./assets/css/bootstrap.min.css";
@import './assets/scss/main.scss';
@import './assets/css/responsive.css';
@import './assets/css/custom.css';


/*------------------------------------------------------------------
    Version: 1.0
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    [Table of contents]

    1. IMPORT FONTS
    2. IMPORT FILES
    3. SKELETON
    4. WP CORE
    5. HEADER
    6. SECTIONS
    7. SECTIONS
    8. PORTFOLIO
    9. TESTIMONIALS
    10. PRICING TABLES
    11. ICON BOXES
    12. MESSAGE BOXES
    13. FEATURES
    14. CONTACT
    15. FOOTER
    16. MISC
    17. BUTTONS
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,900');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import "./assets/css/animate.css";
@import "./assets/css/flaticon.css";
@import "./assets/css/icomoon.css";
@import "./assets/css/prettyPhoto.css";
// @import "./assets/css/owl.carousel.css";
@import "./assets/css/font-awesome.min.css";





/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

.cac {
    background-color: #232323;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.cac:hover a h3 {
    color: #fff !important;
}

.cac a h3 {
    color: #999;
}

.cac h3 {
    padding: 60px 0;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    line-height: !important;
}

.footer {
    padding: 90px 0 80px !important;
    color: #999;
    background-color: #393939;
}

.footer .widget-title {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.footer .widget-title small {
    color: #999;
    display: block;
    padding: 0 58px;
    text-transform: uppercase;
}

.footer .widget-title h3 {
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    padding: 0;
    margin: 0;
    line-height: 1 !important;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #999;
	display: block;
}

.footer-links.hov a span{
	opacity: 0;
	transition: all 1s ease-in-out;
}

.footer-links.hov a:hover{
	padding-left: 15px;
}
.footer-links.hov a:hover span{
	opacity: 1;
	padding-left: 10px;
	transition: all 1s ease-in-out;
}

.footer-links a:hover,
.footer a:hover {
    color: #fd6802 !important;
}

.footer-links li {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}

.twitter-widget li {
    margin-bottom: 0;
    border: 0 !important;
}

.twitter-widget li i {
    border-right: 0 !important;
    margin-right: 0;
}

.footer-links li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.footer-links i {
    display: inline-block;
    width: 25px;
    margin-right: 10px;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
}

.copyrights {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: #1f1f1f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 60px;
    overflow: hidden;
}


/* Footer left */

.footer-distributed .footer-left {
    float: none;
	text-align: center;
}

.footer-distributed .footer-links {
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.footer-distributed .footer-company-name {
    font-weight: 300;
    margin: 0 10px;
    color: #666;
    padding: 0;
}

.footer-distributed .footer-company-name a{
	color: #ffffff;
}

.footer-distributed .footer-company-name a:hover{
	color: #fd6802;
}


/* Footer right */

.footer-distributed .footer-right {
    float: none;
}


/* The search form */

.footer-distributed .widget-title p{
	padding-top: 40px;
}

.footer-distributed form {
    position: relative;
}

.footer-distributed form input {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #181818;
    border: none;
    font: inherit;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    width: 100%;
    padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus {
    outline: none;
}


/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
    color: #999;
}

.footer-distributed form input::-moz-placeholder {
    opacity: 1;
    color: #999;
}

.footer-distributed form input:-ms-input-placeholder {
    color: #999;
}


/* The magnify glass icon */

.footer-distributed form i {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 16px;
    right: 18px;
    color: #999;
    font-size: 18px;
    margin-top: 6px;
}


/*------------------------------------------------------------------
    MISC
-------------------------------------------------------------------*/

.progress {
    background-color: #f2f3f5;
    border-radius: 0;
    box-shadow: none;
    height: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.skills h3 {
    color: #999999;
    font-size: 15px;
}

.dmtop {
    background-color: #3C3D41;
    z-index: 100;
    width: 50px;
    height: 50px;
    line-height: 47px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 20px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.dmtop:hover {
	background-color: #fd6802;
}

.icon_wrap {
    background-color: #fd6802;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    font-size: 34px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 0 !important;
    border: 0 !important;
}

.stat-wrap h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fcbf02;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1 !important;
}

.stat-wrap p {
    font-size: 38px;
    color: #ffffff;
    margin: 0;
    font-weight: 700;
    padding: 4px 0 0;
    line-height: 1 !important
}



/*------------------------------------------------------------------
    inner Page CSS
-------------------------------------------------------------------*/

.fixed-menu .navbar-default{
	position: fixed;
	visibility: hidden;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 0px 0px;
	background: #ffffff;
	z-index: 0;
	transition: all 1s ease-in-out;
	z-index: 999;
	opacity: 1;
	visibility: visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.fixed-menu .navbar-default {
    padding: 15px 0px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.12);
}


.banner-bg-1{
	background: url(./assets/uploads/inner-bg.jpg);
	padding: 120px 0;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	background-origin: initial;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
}

.banner-bg-1::before{
	content: "";
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	background: rgba(34, 34, 34, 0.4);
}

.banner{
	position: relative;
}

.banner h2{
	color: #f1f1f1;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-left: 20px;
	position: relative;
}
.banner h2::after {
    background: #fd6802;
    content: "";
    height: 35px;
    left: -15px;
    position: absolute;
    top: 8px;
    width: 6px;
}

.page-title-link li{
	display: inline-block;
	position: relative;
}
.page-title-link li a {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 15px;
    text-transform: uppercase;
	font-weight: 500;
}
.page-title-link li a:hover {
	color: #fd6802;
}
.page-title-link li::after {
    background: #fcbf02;
    bottom: 8px;
    content: "";
    height: 2px;
    margin-left: -1px;
    position: absolute;
    width: 10px;
}
.page-title-link li:last-child::after {
    content: "";
    width: 0;
    height: 0;
}


.about-item{
	background: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	padding-bottom: 10px;
	transition: all 1s ease-in-out;
	margin-bottom: 30px;
}
.about-icon{
	padding: 20px 0px;
	transition: all 1s ease-in-out;
}
.about-icon span{
	font-size: 48px;
	color: #393939;
}

.about-text h3{
	font-size: 22px;
	font-weight: 600;
	padding: 10px 0px;
}
.about-text h3 a{
	color: #393939;
}
.about-text h3 a:hover{
	color: #fd6802;
}

.about-item:hover .about-icon{
	transform: rotate(-360deg);
	transition: all 1s ease-in-out;
}

.about-item:hover .about-icon span{
	color: #fd6802;
	transition: all 1s ease-in-out;
}



.portfolio-filter ul li .btn-dark.active{
	background: #fcbf02;
	color: #ffffff;
}


#test-box .testimonial h3{
	color: #ffffff;
}

#test-box .testimonial h4{
	color: #393939;
}


:root{
    --pricingTable-yellow: #fd6802;
    --pricingTable-purple: #fd6802;
    --pricingTable-blue: #fd6802;
}

.address-icon{
	padding: 15px 0px;
}
.address-icon i{
	font-size: 38px;
	color: #393939;
}

.address-item h3{
	font-size: 28px;
	font-weight: 600;
	color: #fd6802;
}


.dmtop.show {
    bottom: 20px;
}








